/* .login-portal.layout {
    background: red;
} */

.login-portal.layout .center-segment>.ui.container>.ui.segment {
    background: green;
}

body[data-page="sign-in"].ui-header {
    background-color: red;
}
