<div>
  {% for user in users %}
    <p>{{ user.name }}</p>
    {% if user.name == "Bob" %}
      <p>Bob Found</p>
      {% raw %}
        {{{MainSection}}}
      {% endraw %}
      <p>No Bob</p>
    {% endif %}
  {% endfor %}
</div>
